body {
  background-color: rgba(3, 112, 3, 0.858);
  /* Fondo verde claro */
  color: black;
  /* Letras negras */
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* styles.css */
.centrado {
  text-align: center;
  font-size: 40 px;
  /* Tamaño de fuente más grande */
}


.app-container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;

  .image-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .image-container img {
    display: block;
    margin: 0 auto;
  }
  
  .image-container figcaption {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    text-align: center;
  }
  


  nav {
    background-color: darkgreen;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */

  }

  nav a {
    color: white;
    margin: 0 20px;
    /* Separación de 20px entre los enlaces */
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
  }

  .navbar {
    margin-right: 30px;
  }

  main {
    padding: 20px;
    text-align: center;
  }



  nav button {
    background-color: white;
    color: darkgreen;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  nav button:hover {
    background-color: lightgray;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  form div {
    margin-bottom: 15px;
  }

  form label {
    margin-bottom: 5px;
  }

  form input {
    padding: 8px;
    font-size: 16px;
  }

  form button {
    padding: 10px;
    background-color: #fafcfdf3;
    color: white;
    border: none;
    cursor: pointer;
  }

  form button:hover {
    background-color: #0056b3;
  }

  footer {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Hace que el contenedor ocupe toda la altura de la pantalla */
}

header,
footer {
  flex-shrink: 0;
  /* Evita que el header o el footer se reduzcan */
}

.main-content {
  flex-grow: 1;
  /* Hace que el contenido principal ocupe el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.centrado {
  text-align: center;
}